.Footer {
    display: block;
    box-sizing: border-box;
    width: 50%;
    margin-top: -1%;
}

.Footer p {
    display: block;
    width: 60%;
    margin: auto;
    margin-left: 25%;
    text-align: left;
}

.Footer a{
    text-decoration: none;
    color: #0077B6;
    font-weight: bold
}

@media (max-width: 400px)
{
    .Footer {
        display: block;
        box-sizing: border-box;
        width: max-content;
        margin: auto;
        margin-top: 2%;
        margin-bottom: 2%;
    }
}